<h1>Chat1</h1>
<router-outlet></router-outlet>
<!-- Name:<input type="text" id="text1" [(ngModel)]="name">
Message:<input type="text" id="text2" [(ngModel)]="message">

<button (click)="send()" >Send</button>

<div *ngFor="let d of s1.messageList">
    {{d}}
  </div>
<div>
    <input type="text" hidden  [(ngModel)]="uom.Id">
 Symbol <input type="text" [(ngModel)]="uom.Symbol">
 Formal Name <input type="text" [(ngModel)]="uom.FormalName">
</div>
<div>
  <button (click)="Save()">Save</button>
   <button (click)="Delete()">Delete</button>
  <button (click)="Clear()">Clear</button> 
</div>
  <div>
<table>
  <thead>
    <th>
      Symbol
     </th>
    <th>
       FormalName
    </th>
  </thead>
  <tbody *ngFor="let d of s1.uomList" >
    <tr (click)="Edit(d)">
      <td>{{d.Symbol}}</td> 
      <td>{{d.FormalName}}</td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
  </div>
   -->